
services:
  postgres:
    container_name: postgres
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - net-mysystemdown

  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    networks:
      - net-mysystemdown
  api:
    depends_on:
      postgres:
        condition: service_healthy
      
    container_name: api
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    entrypoint: /entrypoint-api.sh
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    networks:
      - net-mysystemdown      

  worker:
    depends_on:
      postgres:
        condition: service_healthy
    container_name: api-worker
    build: .
    env_file:
      - .env
    entrypoint: /entrypoint-worker.sh
    networks:
      - net-mysystemdown

networks:
  net-mysystemdown:
    name: net-mysystemdown
    driver: bridge